<a href="https://colab.research.google.com/github/lauracantik/mathtools/blob/main/TugasPertemuan2_DML_Kelompok6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello, world!')

Hello, world!

In [2]:
n = int(input('Ketik sebuah angka, dan faktorialnya akan diprinted: '))

if n < 0:
 raise ValueError('Anda harus memasukkan bilangan bulat bukan negatif')

faktorial = 1

for i in range(2, n + 1):
 faktorial *= i

print(faktorial)

Ketik sebuah angka, dan faktorialnya akan diprinted: 8
40320

In [4]:
class Orang:
  def __init__(self, nama):
   self.nama = nama

  def tampilkan_nama(self):
   return self.nama

namacetak = (input('Ketik nama yang akan diprinted: '))

orang = Orang(namacetak) # Initialisasi object

print("Hasil print nama: " + orang.tampilkan_nama()) # Output: Test UMB

Ketik nama yang akan diprinted: Kelompok6
Hasil print nama: Kelompok6

In [16]:
# Mengambil input
nama = input("Siapa nama kamu: ")
umur = input("Berapa umur kamu: ")
# Menampilkan output
print("Hello {} umur kamu adalah {} tahun".format(nama, umur))
print("Hello "+nama+" umur kamu adalah "+umur+" tahun")

Siapa nama kamu: Laura Cantik
Berapa umur kamu: 17
Hello Laura Cantik umur kamu adalah 17 tahun
Hello Laura Cantik umur kamu adalah 17 tahun

In [15]:
# Mengambil input
nama = input("Siapa nama kamu: ")
umur = input("Berapa umur kamu: ")
# Menampilkan output
print("Hello %s umur kamu adalah %s tahun" % (nama, umur))

Siapa nama kamu: Irwan Maulana
Berapa umur kamu: 5
Hello Irwan Maulana umur kamu adalah 5 tahun

In [7]:
input_angka = input("masukkan angka: ")
print(type(input_angka))

masukkan angka: 200
<class 'str'>

In [8]:
bil1 = input("bilangan 1: ")
bil2 = input("bilangan 2: ")
hasil = bil1 + bil2
print("hasil dari {} + {} adalah {}".format(bil1, bil2, hasil))

bilangan 1: 10
bilangan 2: 8
hasil dari 10 + 8 adalah 108

In [9]:
bil1 = input("bilangan 1: ")
bil2 = input("bilangan 2: ")
hasil = int(bil1) + int(bil2)
print("hasil dari {} + {} adalah {}".format(bil1, bil2, hasil))

bilangan 1: 15
bilangan 2: 3
hasil dari 15 + 3 adalah 18

In [10]:
bil1 = int(input('Masukan Bilangan ke-1 = '))
bil2 = int(input('Masukan Bilangan ke-2 = '))

print("")
print("Dan Hasilnya Adalah..")
print("")

tambah = bil1+bil2
kali = bil1*bil2
print("Hasil tambahnya adalah = ", tambah)
print("Hasilnya perkaliannya adalah = ", kali)

Masukan Bilangan ke-1 = 2
Masukan Bilangan ke-2 = 9

Dan Hasilnya Adalah..

Hasil tambahnya adalah =  11
Hasilnya perkaliannya adalah =  18

In [11]:
r = int(input('jari jari ='))
t = int(input('tinggi ='))
phi = 3.14
volume = 1/3*phi*r*2*t
print('volume=', volume)

jari jari =5
tinggi =10
volume= 104.66666666666667

In [14]:
nama = input("Masukan Nama Anda = ")
jabatan = input("Masukan Jabatan Anda = ")
gaji = int(input("Masukan Gaji Anda = "))
pajak = 10/100*gaji
total = gaji-pajak
print("Pegawai dengan nama", nama, "dan jabatan", jabatan, "\ndengan gaji", gaji, "harus membayar pajak sebesar", pajak, "\nTotal yang didapat bersih", total)

Masukan Nama Anda = Devana Azzahra
Masukan Jabatan Anda = Head Operasional
Masukan Gaji Anda = 20000000
Pegawai dengan nama Devana Azzahra dan jabatan Head Operasional
dengan gaji 20000000 harus membayar pajak sebesar 2000000.0
Total yang didapat bersih 18000000.0